@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;

  --fontweight-light: 200;
  --fontweight-normal: 400;
  --fontweight-bold: 600;

  --fontsize-400: 0.9275rem;
  --fontsize-500: 1.25rem;
  --fontsize-500: 1.625rem;
  --fontsize-900: 2.5rem;

  --color-neutral-900: hsl(234, 12%, 34%);
  --color-neutral-800: hsl(229, 6%, 66%);
  --color-neutral-100: hsl(0, 0%, 98%);

  --color-teal: hsl(180, 58%, 56%);
  --color-red: hsl(0, 70%, 60%);
  --color-blue: hsl(212, 75%, 62%);
  --color-yellow: hsl(34, 89%, 65%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-weight: var(--fontweight-normal);
  color: var(--color-neutral-800);
  line-height: 1.5;
}

h1 {
  color: var(--color-neutral-900);
  font-weight: var(--fontweight-light);
}

h1 > span {
  font-weight: var(--fontweight-normal);
  color: var(--color-neutral-900);
}
h2,
h3 {
  color: var(--color-neutral-900);
}

.wrapper {
  max-width: 1100px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-inline: auto;
  line-height: 1.5;
  padding-inline: 2rem;
}

.wrapper--narrow {
  max-width: 650px;
}

header {
  text-align: center;
  /* margin-top: 6rem;
    margin-bottom: 6rem; */
  margin-block: 4rem;
}

.layout-grid {
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  background-color: white;
  width: 270px;
  height: 240px;
  border-top: 6px solid;
  border-radius: 6px;
  margin-top: 30px;
  padding: 15px;
  box-shadow: 0 0.5rem 1rem -0.5rem rgb(0 0 0/0.2);
}

.card > p {
  font-size: 0.8rem;
}

.card1 {
  border-color: var(--color-teal);
}

.card2 {
  border-color: var(--color-red);
}

.card3 {
  border-color: var(--color-yellow);
}

.card4 {
  border-color: var(--color-blue);
}

.card > img {
  margin: 1rem;
  display: block;
  margin-left: auto;
}

.attribution {
  margin-block: 3rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media only screen and (min-width: 1100px) {
  .layout-grid {
    display: flex;
  }
}

@media only screen and (max-width: 1100px) {
  .card {
    margin-inline: auto;
  }
}
